<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__wrapper__item"><img class="footer__wrapper__item-pin" src="{{ asset('/static/img/footer-pin.svg') }}" alt="location-img" />
                <div class="footer__wrapper__item-node">м. Київ, вул. Михайла Омеляновича-Павленка, 4/6</div>
            </div>
            <div class="footer__wrapper__item"><a class="footer__wrapper__item-node contact" href="tel: +38 (099) 02 54 147">+38 (099) 02 54 147</a><a class="footer__wrapper__item-node contact" href="tel: +38 (099) 02 54 147">+38 (099) 02 54 147</a></div>
            <div class="footer__wrapper__item"><a class="footer__wrapper__item-node socials" href="#"><img src="{{ asset('/static/img/instagram-line.svg') }}" alt="instagram-img" /></a><a class="footer__wrapper__item-node socials" href="#"><img src="{{ asset('/static/img/facebook-fill.svg') }}" alt="facebook-img" /></a></div>
        </div>
    </div>
</footer>