#AddHandler application/x-httpd-php71 .php
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|ttf|svg)$">
    Header set Cache-Control "max-age=2628000, public"
</filesMatch>
<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>